@import "tailwindcss";

.horizontal-box::-webkit-scrollbar {
  height: 8px; 
}


.horizontal-box::-webkit-scrollbar-track {
  background: #1f2937; 
  border-radius: 10px;
}


.horizontal-box::-webkit-scrollbar-thumb {
  background: #facc15; 
  border-radius: 10px;
  border: 1px solid #000; 
}


.horizontal-box::-webkit-scrollbar-thumb:hover {
  background: #eab308; 
}


.horizontal-box {
  scrollbar-width: thin;
  scrollbar-color: #facc15 #1f2937;
}


.text-shadow {
    text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
}

#watch:hover{
  background-color: rgb(255, 255, 0);
  color: blue;
}
#watch:active{
  background-color:  rgb(255, 255, 136);
  border: 2px solid black;
}

#movie:active{
  border: 50px;
  box-shadow: 2px 2px 2px blue;
  opacity: 0.8;
}

.like-btn {
    width:40px;
    height:40px;
    text-align: center;
    font-size: 15px;
    background-color: pink; 
    border: red 2px solid; 
    position: relative; 
    color: red;
    font-weight: bolder;
    border-radius: 50%;
    overflow: visible; 
}


.like-btn:active {
    transform: scale(0.95);
    background-color: rgb(243, 17, 115);
    color:pink;
}


.float-msg {
    position: absolute;
    color: blue;
    font-weight: bolder;
    font-size: 14px;
    top: 0;
    left: 50%;
    transform: translateX(-80%);
    
    animation: moveUp 1s ease-out forwards;
}


@keyframes moveUp {
    0% {
        top: 10px;
        opacity: 1;
        color: red;
    }
    50%{
      top:-20px;
      opacity:0.5;
      color:blue;
    }
    100% {
        top: -50px; 
        opacity: 0; 
    }
}

