@import "tailwindcss";



.horizontal-box::-webkit-scrollbar {
  height: 8px; 
}


.horizontal-box::-webkit-scrollbar-track {
  background: #1f2937; 
  border-radius: 10px;
}


.horizontal-box::-webkit-scrollbar-thumb {
  background: #facc15; 
  border-radius: 10px;
  border: 1px solid #000; 
}


.horizontal-box::-webkit-scrollbar-thumb:hover {
  background: #eab308; 
}


.horizontal-box {
  scrollbar-width: thin;
  scrollbar-color: #facc15 #1f2937;
}


.text-shadow {
    text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
}

#watch:hover{
  background-color: yellow;
  color: blue;
}
#watch:active{
  background-color:  rgb(255, 255, 136);
  border: 2px solid blue;
}

#movie:active{
  border: 50px;
  box-shadow: 2px 2px 2px blue;
  opacity: 0.8;
}